.c-TotalDefects {
  &__container {
    background-color: #abc3c5;
    text-align: center;
    height: 100%;
  }

  &__headerSection {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 500;
  }
}
