.container {
  background-color: #abc3c5;
  text-align: center;
  height: 100vh;
}

.headerSection {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 500;
}

.card {
  margin-top: 50px;
  display: inline-block;
  border-radius: 10px;
  background-color: #b283c8;
  width: 250px;
  min-height: 200px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.row {
  margin-top: 10px;
  width: 100%;
}

.name {
  margin-top: 60px;
  align-items: center;
  display: inline-block;
  color: white;
  font-size: 24px;
}

.value {
  display: block;
  color: white;
  font-size: 60px;
  font-weight: 500;
}

.info {
  width: 100%;
  margin: auto;
  font-size: 18px;
  font-weight: 500;
  padding-top: 15px;
}

.demo {
  height: auto;
  width: auto;
}

.filter {
  padding-top: 30px;
}

.searchFilter {
  height: 35px;
}

.search {
  height: 30px;
}

.graphIcon {
  padding-left: 15px;
  display: contents;
}
